
  /* .board {
    display: flex;
    flex-wrap: wrap;
    width: 325px;
  } */
  
  /* .sqr {
    width: 20%;
    height: 100px;
    aspect-ratio: 8/1;
    border: 3px solid black;
    font-size: 64px;
    text-align: center;
  } */

  h1{
    text-align: center;
  }
  .sqr {
    display: inline table   ;
    flex-wrap: wrap;
    /* width: 100px; */
    width: 20%;
    aspect-ratio: 8/1;
    border: 5px solid black;
    background-color: peachpuff;
    font-size: 64px;
    text-align: center;
  }

  .column {
    display: inline table   ;
    flex-wrap: wrap;
    /* width: 100px; */
    width: 20%;
    aspect-ratio: 8/1;
    border: 3px solid black;
    font-size: 64px;
    text-align: center;
  }

  .ans {
    display: inline table   ;
    flex-wrap: wrap;
    /* width: 100px; */
    
    width: 10%;
    aspect-ratio: 8/1;
    border: 3px solid greenyellow;
    font-size: 16px;
    text-align: center;
  }

  body {
    background-color: lightblue;
  }

  #reset {
      display: block;
      width: 100px;
      padding: 10px;
      margin: 20px auto;
      font-size: 30px;
      cursor: pointer;
      background-color: #28a745;
      color: white;
      border: none;
      border-radius: 5px;
      align-self: center;
    }
  